.required::after {
    content: "*";
    color: red;
  }


.form-row {
    display: flex;
    justify-content: space-between;
}
.form-row .col:last-child {
    margin-top: 0.9cm;
}

.checked {
    color: orange;
  }

.center{
  text-align: center;
  vertical-align: middle;
}

body {
  height: 90vh;
  width: 80vw;
}

.checked {
  color: #ffcc00;
}
